body
{
font-family: Arial, Helvetica, sans-serif;
background-image:url("../Pictures/Login.jpg");
background-attachment:fixed;
background-size:cover;
}

.header
{
	font-family: 'Josefin Sans', sans-serif;
	padding:15px 15px 0 15px;
	width:1220px;
	height:50px;
	background-color:rgba(102,0,102,0.5);
	margin:auto;
	position:relative;top:0px;
}

.firstlink
{   font-family: 'Josefin Sans', sans-serif;
	text-decoration:none ;
	color:silver;
    font-size:30px;
	font-weight:bold;
}
.taps
{
	position:relative;
	bottom:5px;
	text-decoration:none ;
	color:silver;
	font-family:"comic sans ms";
}
a:hover
{
	text-decoration:underline;
	color: rgba(30,227,207,0.5);
	background-color: rgba(234,227,227,0.1);
}
.firstlink:hover{text-decoration:none;}

.form
{
	background-color:rgba(242,244,246,0.5);
	padding-left:15px;
	border-radius:8px;
	width:400px;
	height:360px;
	margin:auto;
	position:relative;top:40px;
	text-align:center;
}

img {margin:auto;position:relative;top:-295px;}
h1{position:relative;left:0px;top:30px;font-weight:normal;color:rgba(44,44,44,1);}
.icon {
  color: white;
  text-align: center;
  position:relative;

}
.input-field {
  width: 60%;
  background-color:rgba(248,249,252,0.6);
  padding: 10px;
  border-radius:8px;
  margin:auto;
  margin-bottom:20px;
}

.btn
{
	padding:10px;
	width:65%;
	background-color:rgba(32,10,62,0.8);
	color:black;
	position:relative;left:10px;top:20px;
	border-radius:8px;
}
.cbx
{
	position:relative;top:40px;
	color:rgba(245,247,250,1);
}
span{position:relative;top:-5px;}

.tail
{
	margin:auto;
	color: rgba(228,221,68,1);
	text-align:center;
	position:relative; left:20px;bottom:10px;
	font-weight:bold;
	width:400px;
}


.footer
{
	background:rgba(82,82,82,0.4);
	color:#FFF;
	text-align:center;
	padding: 10px 0 ;
	position: relative;top:140px;
	margin : auto ;
	width:1000px;
}
